# vim: ft=yaml
---
Language: Proto
BasedOnStyle: Google
ColumnLimit: 0
IndentWidth: 4
---
Language: Cpp
BasedOnStyle: Google
SortIncludes: false
ColumnLimit: 0
IndentWidth: 4
FixNamespaceComments: true
NamespaceIndentation: All
BinPackParameters: false
BinPackArguments: false
BreakConstructorInitializersBeforeComma: true
